body {
    background-color: #f5f5dc !important; /* Темный фон */
    color: #eaeaea; /* Светлый текст */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        min-width: 100%;
    }
}




    
